<section class="menu-area section-gap" id="coffee">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
        <div class="title text-center">
          <h1 class="mb-10">What kind of Coffee we serve for you</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row" *ngFor="let c of listCoffee; let i= index">

      <div class="col-lg-4">
        <div class="single-menu">
          <div class="title-div justify-content-between d-flex">
            <h4>{{c.nom}}</h4>
            <p class="price float-right">
              ${{c.prix}}
            </p>
          </div>
          <p>
            {{c.description}}.
          </p>
          <input type="submit" class="btn btn-danger" value="delete" name="delete" (click)="delete(c)">
        </div>
      </div>

    </div>
  </div>
</section>
<br>

<form>
  <div class="form-group">
    <label>nom</label>
    <input name="nom" [(ngModel)]="coff.nom">
  </div>
  <div class="form-group">
    <label>prix</label>
    <input name="prix" [(ngModel)]="coff.prix">
  </div>
  <div class="form-group">
    <label>description</label>
    <input name="description" [(ngModel)]="coff.description">
  </div>
  <input type="submit" class="btn btn-info" value="add" name="add" (click)="add()">
</form>
